<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign Up For an Account</title>
</head>
<body>
    <h3>Sign Up For an Account</h3>
    <form method = 'post' th:action="@{/user}">

        <label>Username: <input type='text' th:field="${user.username}" th:value="${user.username}"></label>
        <p class="error" th:errors="${user.username}"></p>
        <label>Email: <input th:field="${user.email}" th:value="${user.email}"></label>
        <p class="error" th:errors="${user.email}"></p>
        <label>Password: <input type='password' th:field="${user.password}" th:value="${user.password}"></label>
        <p class="error" th:errors="${user.password}"></p>
        <label>Verify Password: <input type='password' th:field="${user.verify}" th:value="${user.verify}"></label>
        <p class="error" th:errors="${user.verify}"></p>

        <p th:text="${error}" style="color: red"></p>

        <input type = 'submit' value = 'Sign Up'>
    </form>
</body>
</html>